<div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-secondary" routerLink="/product/add">addproduct</button>
    <button type="button" class="btn btn-secondary" routerLink="/admin/viewproduct">viewproduct</button>
    <button type="button" class="btn btn-secondary" routerLink="/user/add">adduser</button>
    <button type="button" class="btn btn-secondary" routerLink="/admin/viewuser">viewuser</button>
    <button type="button" class="btn btn-secondary" routerLink="/order/view">ViewOrder</button>
    <!-- bywdeny 3l component el ana 3tyalo el link bta3o  -->
  </div>